* text=auto
*.ini text eol=crlf
*.cfg text eol=lf
*.fex binary
livesuit/default/*.fex text eol=crlf
awusb filter=lfs diff=lfs merge=lfs -text
bins filter=lfs diff=lfs merge=lfs -text
dragon filter=lfs diff=lfs merge=lfs -text
eDragonEx filter=lfs diff=lfs merge=lfs -text
fsbuild filter=lfs diff=lfs merge=lfs -text
fsbuild200 filter=lfs diff=lfs merge=lfs -text
livesuit filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
eDragonEx/AwPluginVector.dll filter=lfs diff=lfs merge=lfs -text
eDragonEx/dragon filter=lfs diff=lfs merge=lfs -text
eDragonEx/dragon.org filter=lfs diff=lfs merge=lfs -text
eDragonEx/FileAddSum filter=lfs diff=lfs merge=lfs -text
eDragonEx/FileAddSum.exe filter=lfs diff=lfs merge=lfs -text
eDragonEx/ImageBuilder.dll filter=lfs diff=lfs merge=lfs -text
eDragonEx/IniParasPlg.dll filter=lfs diff=lfs merge=lfs -text
eDragonEx/IniParasPlgex.dll filter=lfs diff=lfs merge=lfs -text
eDragonEx/plgvector.dll filter=lfs diff=lfs merge=lfs -text
fsbuild/AwPluginVector.dll filter=lfs diff=lfs merge=lfs -text
fsbuild/fsbuild filter=lfs diff=lfs merge=lfs -text
fsbuild/fstool.dll filter=lfs diff=lfs merge=lfs -text
fsbuild/IniParasPlg.dll filter=lfs diff=lfs merge=lfs -text
awusb/awusb.c filter=lfs diff=lfs merge=lfs -text
awusb/Makefile filter=lfs diff=lfs merge=lfs -text
awusb/README filter=lfs diff=lfs merge=lfs -text
bins/fex2bin filter=lfs diff=lfs merge=lfs -text
bins/FileAddSum filter=lfs diff=lfs merge=lfs -text
bins/genchecksum_uboot filter=lfs diff=lfs merge=lfs -text
bins/mkbootimg filter=lfs diff=lfs merge=lfs -text
bins/mod_update filter=lfs diff=lfs merge=lfs -text
bins/script filter=lfs diff=lfs merge=lfs -text
bins/script_parse filter=lfs diff=lfs merge=lfs -text
bins/signature filter=lfs diff=lfs merge=lfs -text
bins/simg filter=lfs diff=lfs merge=lfs -text
bins/u_boot_env_gen filter=lfs diff=lfs merge=lfs -text
bins/update_23 filter=lfs diff=lfs merge=lfs -text
bins/update_boot0 filter=lfs diff=lfs merge=lfs -text
bins/update_boot1 filter=lfs diff=lfs merge=lfs -text
bins/update_fes1 filter=lfs diff=lfs merge=lfs -text
bins/update_mbr filter=lfs diff=lfs merge=lfs -text
bins/update_uboot filter=lfs diff=lfs merge=lfs -text
dragon/AwPluginVector.dll filter=lfs diff=lfs merge=lfs -text
dragon/dragon filter=lfs diff=lfs merge=lfs -text
dragon/ImageBuilder.dll filter=lfs diff=lfs merge=lfs -text
dragon/IniParasPlg.dll filter=lfs diff=lfs merge=lfs -text
fsbuild200/AwPluginVector.dll filter=lfs diff=lfs merge=lfs -text
fsbuild200/config.dll filter=lfs diff=lfs merge=lfs -text
fsbuild200/fsbuild filter=lfs diff=lfs merge=lfs -text
fsbuild200/fsbuild.exe filter=lfs diff=lfs merge=lfs -text
fsbuild200/FSProcess.dll filter=lfs diff=lfs merge=lfs -text
fsbuild200/fstool.dll filter=lfs diff=lfs merge=lfs -text
fsbuild200/IniParasPlg.dll filter=lfs diff=lfs merge=lfs -text
fsbuild200/RAMPart.dll filter=lfs diff=lfs merge=lfs -text
fsbuild200/readme.txt filter=lfs diff=lfs merge=lfs -text
fsbuild200/ScriptParser.dll filter=lfs diff=lfs merge=lfs -text
fsbuild200/split_c43a2a92-a8ed-4f92-abdb-ca0d5d29666d.bin filter=lfs diff=lfs merge=lfs -text
livesuit/a10 filter=lfs diff=lfs merge=lfs -text
livesuit/a10_test filter=lfs diff=lfs merge=lfs -text
livesuit/a13 filter=lfs diff=lfs merge=lfs -text
livesuit/default filter=lfs diff=lfs merge=lfs -text
